:root {
  --primary-color: #873541;
  --secondary-color: #f0a082;
  --tertiary-color: #fcece6;
}

.Display-main {
  background-color: #ffffff;
  margin: 40px auto;
  min-height: 30vh;
  border-radius: 10px;

  box-shadow: var(--secondary-color) 0px 12px 28px 0px, white 0px 2px 4px 0px,
    white 0px 0px 0px 1px inset;
}

.Display-header {
  padding: 20px;
  text-align: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.styled-table thead tr {
  background-color: var(--secondary-color);
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: var(--tertiary-color);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #f09ca2;
}
